<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :instructor_id %>

    
    <%= f.select :role, options_for_select(["Administrator","Instructor"])
    , label: 'Role' %>

    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
