<p id="notice"><%= notice %></p>


<h3>Location Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong> 

<%    if (@location.street_2.nil?) %>
<%=  @location.street_1 + " " +@location.city + "," + " " + @location.state + " " +  
@location.zip %>
<%    else %>
<%=   @location.street_1 + " " + @location.street_2 + " " + @location.city  + "," + " " +  @location.state  + " " + @location.zip %>
<% end %>

</br> </br>

<%if(!current_user.nil? && current_user.role=="admin") %>
<strong>Maximum Capacity:&nbsp;&nbsp;</strong> 
  <%= @location.max_capacity %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @location.active ? "Yes" : "No" %><br /><br />
<% end %>
  <strong>Map:&nbsp;&nbsp;</strong> 
  <%= image_tag @location.create_map_link %> <br /><br />



<%if(!current_user.nil? && current_user.role=="admin") %>
<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location? from the system?' }, method: :delete, class: "button tiny radius alert" %>
<%else %>
<%=link_to 'Back', :back, class: "button tiny radius" %>
<% end %>

